In [52]:
import pandas as pd
import numpy as np
import seaborn as sns
import gc 
import matplotlib.pyplot as plt
%matplotlib inline

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
df_data_cj = pd.read_csv("../datasets/Campos do Jordao/dados_completos_mensais_1980a2019_campos_do_jordao/dados_completos_mensais_1980a2019_campos_do_jordao.csv", sep=";")

In [3]:
df_data_cj.head()

,Estacao,Data,Hora,DirecaoVento,VelocidadeVentoMedia,VelocidadeVentoMaximaMedia,EvaporacaoPiche,EvapoBHPotencial,EvapoBHReal,InsolacaoTotal,...,NumDiasPrecipitacao,PrecipitacaoTotal,PressaoNivelMarMedia,PressaoMedia,TempMaximaMedia,TempCompensadaMedia,TempMinimaMedia,UmidadeRelativaMedia,VisibilidadeMedia,Unnamed: 20
0,83714,31/01/1980,0,27.0,1.818182,7.0,NaN,NaN,NaN,NaN,...,NaN,218.1,NaN,841.133333,21.118182,16.532727,12.609091,NaN,NaN,NaN
1,83714,29/02/1980,0,0.0,1.269231,9.0,NaN,NaN,NaN,NaN,...,18.0,190.2,NaN,841.173077,22.569231,17.359231,13.107692,87.009615,NaN,NaN
2,83714,31/03/1980,0,0.0,0.817073,2.0,48.2,NaN,NaN,131.9,...,NaN,110.5,NaN,843.598780,23.548148,17.135556,11.637037,86.814815,NaN,NaN
3,83714,30/04/1980,0,18.0,0.901408,2.0,NaN,NaN,NaN,NaN,...,NaN,243.0,NaN,843.129577,20.862500,15.311667,10.904167,89.489583,NaN,NaN
4,83714,31/05/1980,0,0.0,0.736842,2.0,NaN,NaN,NaN,NaN,...,NaN,3.9,NaN,844.898246,20.242105,12.549474,5.889474,NaN,NaN,NaN

In [4]:
df_data_cj['Day'] = pd.to_datetime(df_data_cj["Data"]).dt.day
df_data_cj["Month"] = pd.to_datetime(df_data_cj["Data"]).dt.month
df_data_cj["Year"] = pd.to_datetime(df_data_cj["Data"]).dt.year
df_data_cj.head()

,Estacao,Data,Hora,DirecaoVento,VelocidadeVentoMedia,VelocidadeVentoMaximaMedia,EvaporacaoPiche,EvapoBHPotencial,EvapoBHReal,InsolacaoTotal,...,PressaoMedia,TempMaximaMedia,TempCompensadaMedia,TempMinimaMedia,UmidadeRelativaMedia,VisibilidadeMedia,Unnamed: 20,Day,Month,Year
0,83714,31/01/1980,0,27.0,1.818182,7.0,NaN,NaN,NaN,NaN,...,841.133333,21.118182,16.532727,12.609091,NaN,NaN,NaN,31,1,1980
1,83714,29/02/1980,0,0.0,1.269231,9.0,NaN,NaN,NaN,NaN,...,841.173077,22.569231,17.359231,13.107692,87.009615,NaN,NaN,29,2,1980
2,83714,31/03/1980,0,0.0,0.817073,2.0,48.2,NaN,NaN,131.9,...,843.598780,23.548148,17.135556,11.637037,86.814815,NaN,NaN,31,3,1980
3,83714,30/04/1980,0,18.0,0.901408,2.0,NaN,NaN,NaN,NaN,...,843.129577,20.862500,15.311667,10.904167,89.489583,NaN,NaN,30,4,1980
4,83714,31/05/1980,0,0.0,0.736842,2.0,NaN,NaN,NaN,NaN,...,844.898246,20.242105,12.549474,5.889474,NaN,NaN,NaN,31,5,1980

In [5]:
df_data_cj.drop("Data", axis=1, inplace=True)

In [6]:
df_data_cj.columns

Index(['Estacao', 'Hora', 'DirecaoVento', 'VelocidadeVentoMedia',
       'VelocidadeVentoMaximaMedia', 'EvaporacaoPiche', 'EvapoBHPotencial',
       'EvapoBHReal', 'InsolacaoTotal', 'NebulosidadeMedia',
       'NumDiasPrecipitacao', 'PrecipitacaoTotal', 'PressaoNivelMarMedia',
       'PressaoMedia', 'TempMaximaMedia', 'TempCompensadaMedia',
       'TempMinimaMedia', 'UmidadeRelativaMedia', 'VisibilidadeMedia',
       'Unnamed: 20', 'Day', 'Month', 'Year'],
      dtype='object')

In [34]:
# Preciso separa somente os dados do mÃªs de Julhos de todos os anos que tenho
monthJuly = df_data_cj.query("Month == 7")

# Separando os dados do mÃªs de Dezembro de todos os anos
monthDecember = df_data_cj.query("Month == 12")

In [40]:
TempMinimaMediaJuly = monthJuly.groupby(["Month","Year"])["TempMinimaMedia"].mean().reset_index(name="TempMinimaMedia")
TempMinimaMediaDecember = monthDecember.groupby(["Month","Year"])["TempMinimaMedia"].mean().reset_index(name="TempMinimaMedia")

In [32]:
TempMinimaMedia.sort_values(by="TempMinimaMedia", ascending=True)

    Month  Year  TempMinimaMedia
7       7  1988         1.574194
8       7  1989         2.300000
16      7  1997         3.158065
5       7  1986         3.203226
13      7  1994         3.509677
15      7  1996         4.009677
2       7  1982         4.393548
4       7  1984         4.580645
6       7  1987         4.619355
10      7  1991         4.819355
9       7  1990         4.919355
31      7  2012         5.541935
11      7  1992         5.800000
33      7  2014         5.903226
37      7  2018         5.995238
14      7  1995         6.051613
12      7  1993         6.061290
32      7  2013         6.483871
3       7  1983         6.520000
29      7  2010         6.625806
35      7  2016         6.736364
28      7  2009         8.290323
34      7  2015         8.735484
0       7  1980              NaN
1       7  1981              NaN
17      7  1998              NaN
18      7  1999              NaN
19      7  2000              NaN
20      7  2001              NaN
21      7  2002              NaN
22      7  2003              NaN
23      7  2004              NaN
24      7  2005              NaN
25      7  2006              NaN
26      7  2007              NaN
27      7  2008              NaN
30      7  2011              NaN
36      7  2017              NaN

In [42]:
TempMinimaMediaDecember.sort_values(by="TempMinimaMedia", ascending=True)

    Month  Year  TempMinimaMedia
16     12  1997        11.558065
11     12  1992        11.561290
35     12  2016        11.939130
33     12  2014        12.081818
7      12  1988        12.229032
8      12  1989        12.354839
36     12  2018        12.589474
9      12  1990        12.667742
14     12  1995        12.709677
32     12  2013        12.800000
1      12  1981        12.961538
13     12  1994        13.041935
4      12  1984        13.051613
12     12  1993        13.174194
0      12  1980        13.357692
2      12  1982        13.467742
29     12  2010        13.486667
28     12  2009        13.570968
3      12  1983        13.600000
10     12  1991        13.787097
15     12  1996        14.109677
6      12  1987        14.129032
34     12  2015        14.153333
5      12  1986        14.274194
17     12  1998              NaN
18     12  1999              NaN
19     12  2000              NaN
20     12  2001              NaN
21     12  2002              NaN
22     12  2003              NaN
23     12  2004              NaN
24     12  2005              NaN
25     12  2006              NaN
26     12  2007              NaN
27     12  2008              NaN
30     12  2011              NaN
31     12  2012              NaN

In [59]:
fig = plt.figure()
axes = fig.add_axes([TempMinimaMedia.columns()])
axes.show()

TypeError: 'Index' object is not callable